entrypoint = "main.sh"
  run = ["sh", "main.sh"]

  [nix]
  channel = "stable-24_05"

  [deployment]
  deploymentTarget = "vm"
  build = ["sh", "-c", "cargo install --locked --root . matchbox_server@0.14.0"]
  run = ["sh", "-c", "exec ./bin/matchbox_server 0.0.0.0:${PORT:-3536}"]

  [[ports]]
  localPort = 3536
  externalPort = 80
  